<div class="join-modal-channel_container file-item-meta__listview white_background">
  <div class="join-modal-channel_title">
    <span class="join-modal-channel_title_area inline-overflow-ellipsis cursor_pointer">
      <i class="icon-topic"></i>{{topicName}}
    </span>
    <span class="pull-right">
      <i class="icon-clock"></i>{{createTime}}
    </span>
  </div>
  <div class="topic-description display-2-lines">{{topicDescription}}</div>
  <div class="topic-general-info">
    <i class="icon-user"></i>
    <span class="join-modal-channel_creator"> {{creatorName}}</span>
    <span class="bullet"> • </span>{{memberCount}}<span>{{commonJoinedMessage}}</span>
    <span class="join-button pull-right cursor_pointer">
      <span>{{btnJoinMessage}}</span>
      <i class="pull-right icon-arrow-right"></i>
    </span>
  </div>
</div>
