<div class="msg-item">
  <div class="msg-item-float cursor_pointer">
    <!--    DEFAULT   -->
    <img class="user-profile user-thumb" src="{{ msg.exProfileImg }}"/>
  </div>

  <div class="msg-item-body">
    <!--    COMMENT
            최초 댓글
            DISPLAY COMMENT BODY WHEN IT IS TITLE
            IF CURRENT COMMENT IS NOT TITLE, CONTENT GETS DISPLAYED WITHIN HEADER -->
    <div class="msg-comment msg-comment-with-thumbnail {{ css.archived }}">
      <!--    LEFT PART OF BODY CONTENT
              IMAGE/FILE THUMBNAIL    -->
      <div class="msg-file-body-float pull-left">
        {{#if isArchived }}
        <div class="msg-file-body__thumbnail">
          <img class="fileicon" src="assets/images/fileicon_archived.png"/>
        </div>
        {{else}}
        <div>
          {{#if file.hasPreview}}
          <!--    IMAGE THUMBNAIL -->
          <div class="image_wrapper msg-file-body__img__background">
            <div class="opac-zero msg-file-body__img cursor_pointer jnd-text-center _compile"
                 image-loader="{{file.imageUrl}}"
                 image-max-height="63" image-max-width="63" image-is-square="true">
            </div>
          </div>
          {{else}}
          <!--    FILE THUMBNAIL  -->
          <div class="msg-file-body__thumbnail">
            <div class="fileicon fileicon-{{ file.icon }}" ></div>
          </div>
          {{/if}}
        </div>
        {{/if}}
        <!--    COMMENT ICON    -->
        <i class="fa fa-comment"></i>
      </div>


      <!--    RIGHT PART OF BODY CONTENT  -->
      <div class="msg-file-meta">
        <div class="msg-comment-header">
          Commented on

          {{#if isArchived}}
          <div>
            <a class="archived-msg-file-meta__title _compile" ui-sref="files({ userName: '{{ msg.feedback.writer.name }}', itemId: '{{msg.feedback.id}}' })">
              <span class="_compile" translate>@common-deleted-file-title</span>
            </a>
          </div>
          {{else}}
          <!--    FILE TITLE/NAME  -->
          <div>
            <a class="msg-file-meta__title file__name break-word _compile" ui-sref="files({ userName: '{{msg.feedback.writer.name}}', itemId: '{{msg.feedback.id}}' })">
              {{ file.title }}
            </a>
          </div>
          {{/if}}
        </div>
      </div>

      <!--    COMMENT MESSAGE -->
      <div class="msg-comment-body">

        <p>
          <!--    WRITER  -->
          <span class="msg-item-header__name cursor_pointer">
            <!-- TODO: WHAT IS THIS??   정책상 항상 댓글의 작성자가 다 보여야 한다면 extWriterName을 그냥 무조건 사용합시다. -->
            <span> {{ msg.extWriterName }} </span>
          </span>
          {{#if isSticker}}
          <div>
            <img class="sticker size_5" src="{{ msg.message.content.url }}"/>

                <span class="msg-item-header__created">
                  {{ msg.extTime }}
                </span>

            <span class="badge unread-badge">{{ msg.unreadCount }}</span>
          </div>
          {{else}}
          <span>
            <span class="keep _compile">{{{ msg.message.content.body }}}</span>
            <span class="msg-item-header__created">
              {{ msg.extTime }}
            </span>

            <span class="badge unread-badge">{{ msg.unreadCount }}</span>
          </span>
          {{/if}}
        </p>
        <!-- Star -->
        <div class="msg-extra msg-extra-comment-title">
          {{#if hasStar}}
          <span class="cursor_pointer msg-item-star msg-item-icon msg-item-circle _star {{css.star}}">
            <i class="icon-star-fill"></i>
          </span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
