{{#if msg.message.linkPreview.extThumbnail.isWaiting}}
<div class="social-image loading">
  <div class="loading_bar">
    <span class="three-quarters-loader jnd-three-quarters-loader"></span>
  </div>
</div>
{{/if}}

{{#if msg.message.linkPreview.extThumbnail.hasSuccess}}
<div class="social-image">
  <a href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
    <img src="{{msg.message.linkPreview.imageUrl}}"/>
  </a>
</div>
{{/if}}


{{#if msg.message.linkPreview.extThumbnail.hasSuccess}}
<div class="social-body has-image">
{{else}}
<div class="social-body">
{{/if}}

{{#if msg.message.linkPreview.title}}
  <div class="social-title neighbor">
    <a href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
      <span>{{msg.message.linkPreview.title}}</span>
    </a>
  </div>
{{/if}}

{{#if msg.message.linkPreview.description}}
  {{#if msg.message.linkPreview.domain}}
  <div class="social-desc neighbor has-domain">
  {{else}}
  <div class="social-desc neighbor">
  {{/if}}
    <a href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
      <span>{{msg.message.linkPreview.description}}</span>
    </a>
  </div> <!-- end of social-desc  -->
{{/if}}

{{#if msg.message.linkPreview.domain}}
  <div class="social-domain">
    <span>{{msg.message.linkPreview.domain}}</span>
  </div>
{{/if}}
</div> <!-- end of social-body -->
