<div class="msg-item {{ css.wrapper }}">
  <!--    HEADER PART -->
  <!--    DISPLAYS WRITER WHEN IT IS NOT TITLE COMMENT    -->
  <!--    WHEN IT IS TITLE COMMENT, APPLIES DIFFERENT CSS FORMAT  -->
  <div class="msg-item-header">
    <!--    CONTINUED COMMENT ON SAME FILE  -->
    <span class="continue-comment-body">
      <!--    COMMENT CONTENT -->
      <p>
        {{#unless isChild}}
        <!--    WRITER  -->
        <span class="msg-item-header__name cursor_pointer {{css.disabledMember}} _user">
          <span> {{ msg.extWriterName }} </span>
        </span>
        {{/unless}}
        {{#if isSticker}}
        <div>
          <img class="sticker size_5" src="{{ msg.message.content.url }}"/>
          <!--    CREATED TIME    -->
          <span class="msg-item-header__created">
            {{ msg.extTime }}
          </span>
          <span class="badge unread-badge">{{ msg.unreadCount }}</span>
        </div>
        {{else}}
        <!--    CONTENT(MESSAGE)    -->
        <span>
          <span class="keep _compile" jnd-ignore-braces> {{{ msg.message.content.body }}}</span>
          <!--    CREATED TIME    -->
          <span class="msg-item-header__created">
            {{ msg.extTime }}
          </span>
          <span class="badge unread-badge">{{ msg.unreadCount }}</span>
        </span>
        {{/if}}
      </p>
    </span>
    <!-- Star -->
    <div class="msg-extra msg-extra-comment-continue">
      {{#if hasStar}}
        <span class="cursor_pointer msg-item-star msg-item-icon msg-item-circle _star {{css.star}}">
          <i class="icon-star-on"></i>
        </span>
      {{/if}}
    </div>
  </div>
  <div class="msg-item-body">
  </div>
</div>
