<div id="{{msg.id}}" class="msg-item {{css.wrapper}}">
  <!--  User Thumbnail -->
  <div class="msg-item-float cursor_pointer {{css.disabledMember}} _user">
    <img class="user-profile user-thumb" src="{{ msg.exProfileImg }}"/>
  </div>

  <div class="msg-item-header {{css.disabledMember}}">
    <!--    WRITER-->
      <span class="msg-item-header__name cursor_pointer _user">
        <span class="msg-item-header__nameSpace">
          {{ msg.extWriterName }}
        </span>

        <!--    CREATED TIME    -->
        <span class="msg-item-header__created">
          {{ msg.extTime }}
        </span>

        <span class="badge unread-badge">{{ msg.unreadCount }}</span>
      </span>
  </div>

  <div class="msg-item-body">
    <!-- FILE -->
    <div class="msg-file">

      <!--  FILE PREVIEW IMAGE  -->
      <div class="preview-container">
        {{#if isArchived}}
        <!--  ARCHIVED FILE -->
        <div class="msg-file-body-float pull-left">
          <!--    FILE TYPE THUMBNAIL -->
          <div class="msg-file-body__thumbnail">
            <img class="fileicon" src="assets/images/fileicon_archived.png"/>
          </div>
        </div>
        {{else}}
        <div>
          {{#if file.mustPreview }}
          <!-- MEDIUM SIZE IMAGE THUMBNAIL -->
          <div class="image_wrapper msg-file-body__img__background jnd-text-center cursor_pointer medium-thumbnail loading _compile _fileExpand ">
            {{#if file.hasPreview}}
              <div class="medium-thumbnail" image-loader="{{file.imageUrl}}" image-max-width="360" image-max-height="270" image-is-center="true"></div>
            {{else}}
              {{{file.loading}}}
            {{/if}}
          </div>
          {{else}}
          <!--    FILE TYPE THUMBNAIL -->
          <div class="msg-file-body__thumbnail msg-file-body-float pull-left">
            <div class="fileicon fileicon-{{ file.icon }}" ></div>
          </div>
          {{/if}}
        </div>
        {{/if}}
      </div>

      <!--  FILE INFO -->
      <div class="msg-file-meta">
        <div class="msg-file-meta-up">
          {{#if isArchived}}
          <div class="archived-file-title">
            <a class="msg-file-meta__title file__name cursor_pointer _fileGo">
              <span>{{translate '@common-deleted-file-title'}}</span>
            </a>
          </div>
          {{else}}
          <!--  NOT ARCHIVED FILE -->
          <div>
            <!--    TITLE   -->
            <a class="msg-file-meta__title file__name break-word cursor_pointer _fileGo">
              {{ file.title }}
            </a>
            {{#if file.size}}
            <span class="bullet">•</span>
            <!--    SIZE AND FILE TYPE  -->
            <span class="msg-file-meta-info">{{ file.size }}</span>
            {{/if}}
            <span class="msg-file-meta-info">{{ file.type }}</span>
          </div>
        </div>
        <div class="msg-file-meta-down _compile">
          {{#unless file.isIntegrateFile}}
          <!--  DOWNLOAD  -->
          <span class="file-uploaded-download">
            <a class="_fileDownload" {{{ attrs.download }}}>
              <i class="icon-download-fill cursor_pointer file-action"
                 jnd-tooltip-trigger="{{translate '@common-download'}}"
                 data-direction="top"></i>
            </a>
          </span>
          <span class="separator"></span>
          {{/unless}}
          <!--  SHARE -->
          <i class="icon-share-right-fill cursor_pointer file-action _fileShare"
             jnd-tooltip-trigger="{{translate '@btn-share'}}"
             data-direction="top"></i>

          <span class="separator"></span>

          <!--  MORE  -->
          <span class="file-uploaded-more _fileMore">
            <i class="icon-cog-fill cursor_pointer file-action"
               jnd-tooltip-trigger="{{translate '@file-action-more'}}"
               data-direction="top"></i>
          </span>

        </div>
        {{/if}}
      </div>
      {{#unless isArchived}}
      <!-- Star -->
      <div class="msg-extra file-uploaded-extra">
        <span class="cursor_pointer msg-item-star msg-item-icon msg-item-circle _star {{css.star}}">
          <i class="icon-star-on"></i>
        </span>
      </div>
      {{/unless}}
    </div>

  </div>
</div>

