<div class="join-modal-channel_container file-item-meta__listview cursor_pointer white_background modal-list-item" style="height: {{itemHeight}}px;">
  <div class="join-modal-channel_title">
    <span class="join-modal-channel_title_area inline-overflow-ellipsis cursor_pointer">
      <i class="{{css.topicIcon}}"></i>{{{html.topicName}}}
    </span>
    <span class="join-time pull-right">
      <i class="icon-clock"></i>{{createTime}}
    </span>
  </div>
  {{#if topicDescription}}
    <div class="topic-description display-2-lines">{{topicDescription}}</div>
  {{/if}}
  <div class="topic-general-info">
    <i class="icon-user"></i>
    <span class="join-modal-channel_creator inline-overflow-ellipsis"> {{creatorName}}</span>
    <span class="bullet"> • </span>{{userCount}}<span>{{commonJoinedMessage}}</span>
  </div>
</div>
