<div class="member-item cursor_pointer {{css.memberItem}}" style="height: {{itemHeight}}px;">
  <img class="member-profile-image" src="{{profileImage}}"/>
  <span class="member-name inline-overflow-ellipsis">{{{html.userName}}}</span>
  {{#if isShowStar}}
    <i class="icon-star-off right-star opac-zero {{starClass}}"></i>
  {{/if}}
</div>
